.footer {
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.3rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }
    &__logo{
        width: 15rem;
        height: auto;
    }
    &__navigation{
        border-top: 1px solid $grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,
        &:visited {
            color: $grey-light-1;
            background-color: #333;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            transition: all .4s;
        }
        &:hover,
        &:active {
            color: $primary;
            box-shadow: 0 1rem 2rem rgba($black, .4);
            transform: scale(1.2);
        }
    }
    &__copyright{
        border-top: 1px solid $grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;
    }
}