.card {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side{
        background-color: orange;
        height: 50rem;
        transition: all .8s;
    }

    &:hover &__side {
        transform: rotateY(180);;
    }
}