.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side {
        color: $white;
        font-size: 2rem;
        height: 50rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden !important;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($black, .15);
        
        &--front {
            background-color: $white;
        }

        &--back {
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to right bottom, $secondary-light, $secondary-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);
            }
            &-3{
                background-image: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}