.card {
  //Functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 55rem;

  &__side {
    height: 55rem;
    transition: all 1s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);

    &--front {
      background-color: $white;
    }

    &--back {
      transform: rotateY(180deg);
      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $secondary-light,
          $secondary-dark
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          $primary-light,
          $primary-dark
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right bottom,
          $tertiary-light,
          $tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
  //Front side styling
  &__picture {
    background-size: cover;
    height: 22rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $secondary-light,
          $secondary-dark
        ),
        url(../../img/neature/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $primary-light,
          $primary-dark
        ),
        url(../../img/neature/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $tertiary-light,
          $tertiary-dark
        ),
        url(../../img/neature/nat-7.jpg);
    }
  }
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 55%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($secondary-light, 0.85),
        rgba($secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($primary-light, 0.85),
        rgba($primary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($tertiary-light, 0.85),
        rgba($tertiary-dark, 0.85)
      );
    }
  }
  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1 px solid $grey-light-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  &__price-box {
    margin-bottom: 8rem;
    color: $white;
  }
  &__price-only {
    font-size: 2.5rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 1.5rem;
    margin-bottom: -1.25rem;
  }
  &__price-value {
    font-size: 6rem;
    font-weight: 300;
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }
    //Front side styling
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 4rem 2rem 2rem 2rem;
    }
    &__price-box {
      margin-bottom: 4rem;
    }
    &__price-value {
      font-size: 5rem;
    }
  }
}
