.composition {
    position: relative;
    &__photo{
        width: 70%;
        box-shadow: 0 1.5rem 4rem rgba($black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transform: all .2s;

        &--p1{
            left: 0;
            top: -4rem;
        }
        
        &--p2{
            left: 65%;
            top: 1rem;
        }
        
        &--p3{
            left: 25%;
            top: 12rem;
        }
        
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 .25rem 4rem rgba($black, .5);
            z-index: 20;
        }
    }

}