.composition {
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transform: all .2s;

        &--p1{
            left: 0;
            top: -2rem;
        }
        
        &--p2{
            right: 0;
            top: 2rem;
        }
        
        &--p3{
            left: 20%;
            top: 10rem;
        }
        
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 .25rem 4rem rgba($black, .5);
            z-index: 20;
        }
    }

}