.logo:hover{
    animation: pulse 2s ease;
  }
  .grow{
    transition: all 1.5s ease-in-out;
  }
  .grow:hover{
    transform: scale(1.15);
  }
@keyframes pulse {
    0%{
      opacity: 60%;
    }
    25%{
      opacity: 65%;
    }
    50%{
      opacity: 80%;
    }
    75%{
        opacity: 90%;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes pulse-hide {
    0%{
      opacity: 0;
    }
    40%{
      opacity: 45%;
    }
    75%{
        opacity: 90%;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes moveInRight{
    0%{
      opacity: 0;
      transform: translate(10rem);
    }
    80%{
      transform: translate(-1rem);
    }
    100%{
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes moveInBottom{
    0%{
      opacity: 0;
      transform: translate(0)
    }
    100%{
      transform: translate(0);
    }
  }
  @keyframes appear{
    0%{
      opacity: 0;
    }
    40%{
      opacity: 0.5;
    }
    100%{
      opacity: 0.9;
    }
  }